<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
{%extends 'testapp/base.html'%}
{%block body_block%}
<h1 class="text-center">
    Hello Friends
</h1>
<div class="container">
    <div class="row">
        <div class="col md-8">
            <p><strong>Title:</strong> Employee Management System</p>
            <p><strong>Description:</strong> The Employee Management System is a web-based application built using the Django framework,
                which facilitates efficient management of employees within an organization.  Leveraging Django's powerful features along with Bootstrap for frontend design, CSS
                for styling, and ModelForms for form handling, this app offers a seamless user experience with robust
                functionality.
            </p><br>
            <p>
                <strong>Technologies Used:</strong>
                <ul>
                    <li>
                        <strong>Django:</strong> Python-based web framework for rapid development of web applications, providing a robust and scalable backend.
                    </li><br>
                    <li><strong>Bootstrap:</strong>  Frontend framework for responsive and mobile-first web development, offering pre-designed components and layouts for streamlined UI design.
                    </li><br>
                    <li>
                        <strong>CSS:</strong>  Cascading Style Sheets for customizing the appearance and layout of web pages, ensuring a visually appealing and consistent user interface.
                    </li><br>
                    <li>
                        <strong>ModelForm:</strong> Django’s ModelForms for building HTML forms directly from model definitions, simplifying form handling and validation.
                    </li>
                </ul>
            </p><br>
            <p>
                <strong>Conclution:</strong> The Employee Management System built on Django, Bootstrap, CSS, and ModelForms offers a comprehensive solution for organizations to efficiently manage their workforce.
            </p>
        </div>
    </div>
</div>

{%endblock%}
</body>
</html>